:root {
  --blue-dark: hsl(243, 87%, 12%);
  --blue-desaturated: hsl(238, 22%, 44%);
  --blue-desaturated: hsl(238, 22%, 44%);
  --blue-desaturated: hsl(238, 22%, 44%);
  --blue-desaturated: hsl(238, 22%, 44%);
  --blue-bright: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --gray: hsl(0, 0%, 85%);
  --gray-blue: #f9f8fe;
  --font-headings: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;
}
